<ng-template class="table" [ngIf]="selectedElement">
<table class="table-bordered">
  <thead>
  <tr class="tbl-default">
    <th>{{'LBL_KLV1_col1' | translate}}</th>
    <th>{{'LBL_KLV1_col2' | translate}}</th>
    <th>{{'LBL_KLV1_col3' | translate}}</th>
    <th>{{'LBL_KLV1_col4' | translate}}</th>
  </tr>
  </thead>
  <tbody>
  <tr class="tbl-default"  *ngFor="let element of selectedElement">
    <td>{{element.parent.text}}</td>
    <td>{{element.obligation}}</td>
    <td>{{element.text}}</td>
    <td>{{element.valid_from}}</td>
  </tr>
  </tbody>
</table>
</ng-template>

