<ng-template [ngIf]="selectedElement">
  <div *ngIf="selectedElement.groups">
    <hr>
    <div class="dtl" *ngFor="let group of selectedElement.groups">
      <div *ngIf="group.text !== null || group.obligation !== null || group.valid_from !== null">

        <div *ngIf="group.obligation === '' || group.obligation === null; else obl">
          <h4>{{'LBL_KLV1_col2' | translate}}{{': '}}<b class="obligation">{{'LBL_KLV1_null' | translate}}</b></h4><br>
        </div>
        <ng-template #obl>
          <h4>{{'LBL_KLV1_col2' | translate}}{{': '}}<b class="obligation">{{group.obligation}}</b></h4><br>
        </ng-template>

        <div *ngIf="group.text === '' || group.text === null; else text">
          <h4>{{'LBL_KLV1_col3' | translate}}{{': '}}</h4>
          <p>{{'LBL_KLV1_null' | translate}}</p>
          <br>
        </div>
        <ng-template #text>
          <h4>{{'LBL_KLV1_col3' | translate}}{{': '}}</h4>
          <p>{{group.text}}</p>
          <br>
        </ng-template>

        <div *ngIf="group.valid_from === '' || group.valid_from === null; else valid">
          <h4>{{'LBL_KLV1_col4' | translate}}{{': '}}</h4>
          <p>{{'LBL_KLV1_null' | translate}}</p>
        </div>
        <ng-template #valid>
          <h4>{{'LBL_KLV1_col4' | translate}}{{': '}}</h4>
          <p>{{group.valid_from}}</p>
        </ng-template>

        <hr>
      </div>
    </div>
  </div>
</ng-template>
