<ng-template [ngIf]="selectedElement">
  <div *ngIf="selectedElement.groups">
    <hr>
    <div class="dtl" *ngFor="let group of selectedElement.groups">
      <div *ngIf="group.text !== null && group.obligation !== null && group.valid_from !== null; else ex">

        <div *ngIf="group.obligation === '' || group.obligation === null; else hasObligation">
          <h4>{{'LBL_KLV1_col2' | translate}}{{': '}}<b class="obligation">{{'LBL_KLV1_null' | translate}}</b></h4><br>
        </div>
        <ng-template #hasObligation>
          <h4>{{'LBL_KLV1_col2' | translate}}{{': '}}<b class="obligation">{{group.obligation}}</b></h4><br>
        </ng-template>

        <div *ngIf="group.text === '' || group.text === null; else hasText">
          <h4>{{'LBL_KLV1_col3' | translate}}{{': '}}</h4>
          <p>{{'LBL_KLV1_null' | translate}}</p>
          <br>
        </div>
        <ng-template #hasText>
          <h4>{{'LBL_KLV1_col3' | translate}}{{': '}}</h4>
          <div [innerHTML]="group.text | convertText"></div>
          <br>
        </ng-template>

        <div *ngIf="group.valid_from === '' || group.valid_from === null; else isValid">
          <h4>{{'LBL_KLV1_col4' | translate}}{{': '}}</h4>
          <p>{{'LBL_KLV1_null' | translate}}</p>
        </div>
        <ng-template #isValid>
          <h4>{{'LBL_KLV1_col4' | translate}}{{': '}}</h4>
          <p>{{group.valid_from}}</p>
        </ng-template>

        <hr>
      </div>
      <ng-template #ex>
        <h4><b>{{'nullllllll'}}</b></h4>
      </ng-template>
    </div>
  </div>
</ng-template>
