<search-form [catalog]="catalog"></search-form>
<hr />

<template [ngIf]="selectedElement">
    <h3>{{selectedElement.code}}</h3>
    <p>{{selectedElement.text}}</p>

    <app-detail-swiss-drg *ngIf="catalog.name === 'SwissDRG'"[selectedElement]="selectedElement" ></app-detail-swiss-drg>
    <app-detail-chop *ngIf="catalog.name === 'CHOP'"[selectedElement]="selectedElement" ></app-detail-chop>
    <app-detail-icd *ngIf="catalog.name === 'ICD'"[selectedElement]="selectedElement" ></app-detail-icd>
</template>
    
<a [routerLink]="['../']">{{'BACK_SEARCH' | translate}}</a>
