em {
  color: lightblue;
}

.search-result {
  cursor: pointer;
  border-radius: 0.5em;
  padding: 0.5em;
}

.search-result:hover {
  background-color: rgb(245,245,245);
}

.active {
  background-color: rgb(245,245,245);
}
