<div class="btn-group pull-right" dropdown>
  <button type="button" class="btn btn-default dropdown-toggle" dropdownToggle>
    <span class="badge" [tooltip]="tooltipTemplate" triggers="" #tooltip="bs-tooltip" placement="bottom">{{favoriteElements.length}}</span>
    
    <span class="glyphicon glyphicon-star med-blue"></span>
    <ng-template #tooltipTemplate>{{ toolTipMessage }}</ng-template>
  </button>

  <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu role="menu">
    <ng-template [ngIf]="favoriteElements?.length > 0">
      <li class="favorite-item" *ngFor="let element of favoriteElements">
        <a>
          <div class="favorite-item-left"(click)="openCode(element)">
            <span class="favorite-item-label" >{{element.name}}</span><br>
            <span title="{{element.text}}">{{element.text}}</span>
          </div>
          <div class="favorite-item-right">
            <span (click)="removeElement(element)" class="favorite-item-button glyphicon glyphicon-trash pull-right"></span>
          </div>
          <div class="clearfix"></div>
        </a>
      </li>
    </ng-template>
    <li *ngIf="favoriteElements?.length === 0" class="disabled">
      <a>{{'LBL_FAVORITE_NOELEMENTS' | translate}}</a>
    </li>
  </ul>
</div>