<ng-template [ngIf]="selectedElement">
  <ng-template [ngIf]="selectedElement.exclusions?.length > 0">
        <h4>{{'LBL_EXCLUSIONS' | translate}}</h4>
        <ul>
            <li *ngFor="let exclusion of selectedElement.exclusions" [innerHTML]="exclusion | convertCode"></li>
        </ul>
  </ng-template>
  <ng-template [ngIf]="selectedElement.inclusions?.length > 0">
        <h4>{{'LBL_INCLUSIONS' | translate}}</h4>
        <ul>
            <li *ngFor="let inclusion of selectedElement.inclusions" [innerHTML]="inclusion | convertCode"></li>
        </ul>
  </ng-template>
  <ng-template [ngIf]="selectedElement.notes">
    <h4>{{'LBL_NOTES' | translate}}</h4>
    <p [innerHTML]="selectedElement.notes | convertCode"></p>
  </ng-template>
  <ng-template [ngIf]="selectedElement.supplement_codes">
    <h4>{{'LBL_SUPPLEMENT_CODES' | translate}}</h4>
        <ul>
            <li *ngFor="let supplement of selectedElement.supplement_codes" [innerHTML]="supplement | convertCode"></li>
        </ul>
  </ng-template>
  <ng-template [ngIf]="selectedElement.analogous_code_text">
    <h4>{{'LBL_ANALOGOUS_CODE_TEXTS' | translate}}</h4>
    <p [innerHTML]="selectedElement.analogous_code_text | convertCode"></p>
  </ng-template>
</ng-template>
