<div class="btn-group pull-right" dropdown>
  <button type="button" class="btn btn-default dropdown-toggle" dropdownToggle>
    <span class="badge" [tooltip]="tooltipElementAddedTemplate" triggers="" #tooltipElementAdded="bs-tooltip" placement="bottom">{{rememberedElements.length}}</span>
    <span class="glyphicon glyphicon-menu-down med-blue"></span>
    <ng-template #tooltipElementAddedTemplate>{{ 'LBL_ELEMENT_ADDED' | translate }}</ng-template>
  </button>

  <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu role="menu">
    <li class="disabled"><a><strong>Favoriten</strong></a></li>
    <ng-template [ngIf]="rememberedElements?.length > 0">
      <li *ngFor="let element of rememberedElements">
        <a>
          <span (click)="openCode(element)" class="favorite-item-label" >{{element.name}}</span>
          <span (click)="removeElement(element)" class="favorite-item-button glyphicon glyphicon-trash pull-right"></span>
        </a>
      </li>
    </ng-template>
    <li *ngIf="rememberedElements?.length === 0" class="disabled">
      <a>{{'LBL_REMEMBER_NOELEMENTS' | translate}}</a>
    </li>
  </ul>
</div>