table {
    margin-bottom: 0;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.favorite-item-label, .favorite-item-button {
  color: #24add3;
}

.favorite-item-button:hover {
  cursor: pointer;
}

.favorite-item-label:active, .favorite-item-button:active {
  color: gray;
}

.favorite-item-label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.dropdown-menu {
  min-width: 240px;
}

.badge {
  padding: 1px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: rgb(36, 173, 211);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.med-blue {
  color: rgb(36, 173, 211);
}
div.pull-right {
  margin-left: 18px;
  margin-top: 3px;
}
