app-root > * {
    min-width: 340px;
}

body{
  background: url(steto_smartphone_hd.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.link {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
}
.link:hover {
  color: #23527c;
  text-decoration: underline;
}


