app-root > * {
    min-width: 410px;
}

body{
  background-color: rgba(245,245,245,0.8);
 /*
  background: url(steto_smartphone_hd.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

 */
}

.link {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
}
.link:hover {
  color: #23527c;
  text-decoration: underline;
}

.box {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 15px;
  margin-top: 10px;
}

em {
    font-weight: bold;
    font-style: normal;
}

#search-results-container.mobile .back-button {
  display: block;
}
