.form-check {
  margin-top: 15px;
}

.btn-filter {
  border: 1px solid #ccc;
  border-radius: 0px;
  background-color: white;
  padding-left: 0px;
  margin-left: 0px;
  padding-right: 10px;
}

.form-check-label {
  padding-top: 2px;
  margin-left: 10px;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}

.row {
  margin-bottom: 10px;
}
.search-center {
    max-width: 1500px;
    margin: auto;
    text-align: center;
}
.btn-group:not(:first-child) {
    margin-left: 10px;
}

.form-control {
border-radius: 0px;
border-right-color: white;
}

.btn-go{
border-radius: 0px;
background-color: #24add3;
}

.btn-default{
    border-radius: 0px;
}

.white, .white a {
  color: #fff;
}

@media screen and (max-width: 560px) {
    .btn-group:not(:first-child) {
        margin-left: 0;
    }
    .btn-group {
        width: 100%;
        margin-bottom: 10px;
    }
    .btn-group .catalog {
        width: 50%;
    }
    .btn-group .version {
        width: 50%;
    }
    .btn-group .btn .caret {
        position: absolute;
        right: 15px;
        top: 15px;
    }
}
