.input-item {
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
}

input[type="checkbox"]{
  margin-right: 10px;
  margin-bottom: 8px;
  vertical-align: middle;
}

.row {
  margin-bottom: 10px;
}
.search-center {
    max-width: 983px;
    margin: auto;
    text-align: center;
}
.btn-group:not(:first-child) {
    margin-left: 10px;
}
.btn-group{
  margin-bottom: 2px;
}

.form-control {
border-radius: 0px;
border-right-color: white;
}

.btn-go{
border-radius: 0px;
background-color: #24add3;
}

.btn-default{
    border-radius: 0px;
}

.white, .white a {
  color: #fff;
}

@media screen and (max-width: 560px) {
    .btn-group:not(:first-child) {
        margin-left: 0;
    }
    .btn-group {
        width: 100%;
        margin-bottom: 10px;
    }
    .btn-group .catalog {
        width: 50%;
    }
    .btn-group .version {
        width: 50%;
    }
    .btn-group .source {
        width: 50%;

    }
    .btn-group .btn .caret {
        position: absolute;
        right: 15px;
        top: 15px;
    }
}
