<ng-template [ngIf]="catalog">

  <div class="row search">
    <div class="col-xs-12">
      <div class="input-group search-center">
        <input type="text" class="form-control" [formControl]="searchForm"
               placeholder="{{'LBL_SEARCH_PLACEHOLDER' | translate}}" #searchBox value="{{query}}"
               (keyup.enter)="search(searchBox.value)" autofocus>

        <span class="input-group-btn">
                  <button class="btn btn-default btn-go" type="button" (click)="search(searchBox.value);"><span
                    class="glyphicon glyphicon-search white"></span></button>
              </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="search-center">

        <div class="btn-group" dropdown *ngFor="let catDisplay of catalogDisplayInfos; let i = index">
          <ng-template [ngIf]="i < 5">
          <button type="button" class="catalog btn btn-default"
                  [ngClass]="{'active': catDisplay.catalog === catalog}"
                  (click)="updateCatalog(catDisplay.catalog, catDisplay.displayVersion)">
            <div>{{catDisplay.catalog === 'REG' ? ('LBL_REG' | translate) : catDisplay.catalog}}</div>
          </button>

            <span dropdown>
            <ng-template [ngIf]="catDisplay.catalog === 'REG'">
              <button type="button" class="filter btn btn-default dropdown-toggle-split" dropdownToggle>
                <span *ngIf="catDisplay.languageVersions.indexOf(catDisplay.displayVersion) != -1; else placeholder">{{"LBL_REG_op" | translate}}</span>
                <span class="caret"></span>
                <span class="sr-only">{{"LBL_REG_op" | translate}}</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu role="menu" aria-labelledby="split-button" data-control="checkbox-dropdown">
                <li *ngFor="let element of tempFilterDisplayInfos"
                    [ngClass]="{'disabled': tempFilterDisplayInfos.length === 0}" role="menuitem" class="input-item">
                  <input type="checkbox" id="defaultCheck" [(ngModel)]="element.isChecked" (change)="checkFilter()">{{element.catalog}}
                </li>
              </ul>
              </ng-template>
              </span>

          <button type="button" class="version btn btn-default dropdown-toggle-split" dropdownToggle>
            <span *ngIf="catDisplay.languageVersions.indexOf(catDisplay.displayVersion) != -1; else placeholder">{{catDisplay.catalog === regCatalog ? regVersion : catDisplay.displayVersion | correctVersion}}</span>
            <ng-template #placeholder><span class="text-hide">select Version</span></ng-template>
            <span class="caret"></span>
            <span class="sr-only">{{catDisplay.catalog === regCatalog ? regVersion : catDisplay.displayVersion | correctVersion}}</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu role="menu" aria-labelledby="split-button">
            <li *ngFor="let version of catDisplay.displayVersions"
                [ngClass]="{
                'disabled': catDisplay.languageVersions.indexOf(version) === -1
                 }" role="menuitem"
                (click)="updateCatalog(catDisplay.catalog, version)">
              <!--'active': catDisplay.displayVersion === version,-->
              <a class="dropdown-item" href="javascript:void(0)">{{version | correctVersion}}</a>
            </li>
          </ul>
          </ng-template>
        </div>
        </div>
    </div>
  </div>

  <div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">{{'LBL_SELECT_LANGUAGE' | translate}}</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{'LBL_CATALOG_LANGUAGE_NOT_AVAILABLE' | translate}}
        </div>

        <div class="modal-footer">
          <button class="btn btn-default pull-left" (click)="hideChildModal()">{{'LBL_BACK' | translate}}</button>
          <button *ngFor="let lang of languages"
                  type="button" class="btn btn-default" data-dismiss="modal" (click)="changeLanguage(lang)">{{lang}}
          </button>
        </div>
      </div>
    </div>
  </div>

</ng-template>
