
  <div class="container">
    <a id="title" href="https://eonum.github.io/medcodelogic-frontend/">
      <img src="assets/medcodesearch_big.png"></a>
    <ul href="#" class="language-select">
      <li *ngFor="let language of languages">
        <a href="javascript:void(0)"
           [class.active]="translate.currentLang===language"
           (click)="setLanguage(language)">{{language}}</a>
      </li>
    </ul>
    <button type="button" class="btn btn-default btn-remember" [popover]="popTemplate" placement="bottom" popoverTitle="{{'LBL_REMEMBER_TITLE' | translate}}">
      <span class="glyphicon glyphicon-menu-down med-blue"></span>
      <span class="badge">{{countRememberedElements}}</span>
    </button>
    <template #popTemplate>
      <app-remember-element></app-remember-element>
    </template>
  </div>

<div class="container" style="margin-bottom: 60px; margin-top: 10px;">
  <router-outlet></router-outlet>
</div>

<!-- Footer-->
<div class="navbar navbar-default navbar-fixed-bottom row-fluid">
  <div class="container">
    <div class="navbar-text pull-left">
      <p>copyright by eonum</p>
    </div>
  </div>
</div>
