
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ul href="#" class="language-select">
        <li *ngFor="let language of languages">
          <a href="javascript:void(0)"
              [class.active]="translate.currentLang===language"
              (click)="setLanguage(language)">{{language}}</a>
        </li>
      </ul>      
      <app-remember-element></app-remember-element>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <a id="title" href="https://eonum.github.io/medcodelogic-frontend/">
        <img src="assets/medcodesearch_big.png">
      </a>
    </div>
  </div>
</div>

<div class="container outlet-wrapper">
  <router-outlet></router-outlet>
</div>

<!-- Footer-->
<div class="navbar navbar-default navbar-fixed-bottom row-fluid">
  <div class="container">
    <div class="navbar-text pull-left">
      <p>copyright by eonum</p>
    </div>
  </div>
</div>
