.language-select {
  float: right;
  padding: 0;
  list-style: none;
  margin: 9px 6px 0 0;
}

.language-select li {
  display: inline;
}

.language-select a {
  color: grey;
  padding-left: 16px;
}

.language-select .active {
  color: #24add3;
}

.btn-remember {
  border: none;
  background-color: rgba(245,245,245,0.0);
  float: right;
  padding: 0;
  list-style: none;
  margin: 6px 6px 0 0;
}

.btn-remember:hover {
  background-color: rgba(36, 173, 211,0.5);
}

.navbar{
  height:50px;
  background-color: rgba(245, 245, 245, 0.4);
  border: solid 1px rgba(245,245,245, 0.0);
  margin-bottom: 0px;
}

#title {
  display: block;
  max-width:200px;
  margin: auto;
  margin-top: 50px;
}

#title > img {
  max-width: 200px;
}

.outlet-wrapper{
  margin-bottom: 60px;
  margin-top: 10px;
}
