<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <a id="title" class="navbar-brand" href="https://eonum.github.io/medcodelogic-frontend/"><img style="max-width:200px; margin-top: -7px;"
             src="assets/codematch_big.png"></a>
    <ul href="#" class="language-select">
      <li *ngFor="let language of languages">
        <a href="javascript:void(0)"
           [class.active]="translate.currentLang===language"
           (click)="setLanguage(language)">{{language}}</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container" style="margin-bottom: 60px;">
  <router-outlet></router-outlet>
</div>

<!-- Footer-->
<div class="navbar navbar-default navbar-fixed-bottom row-fluid">
  <div class="container">
    <div class="navbar-text pull-left">
      <p>copyright by eonum</p>
    </div>
  </div>
</div>
