<div id="main-component">
  {{showDetails}}
  <app-search-form></app-search-form>

  <!-- Component for displaying of root element if no search is performed -->
  <div class="row" *ngIf="rootElement && (!query || query?.length === 0) && !showDetails">
    <div class="col-sm-12">
      <app-detail-component [selectedElement]="rootElement" [catalog]="catalog"></app-detail-component>
    </div>
  </div>

  <div class="row">

    <div id="search-result-component" [class.col-sm-6]="showDetails">

      <app-search-results *ngIf="showResults()"
                          [catalog]="catalog"
                          [query]="query"></app-search-results>
    </div>

    <div id="detail-component" [class.col-sm-6]="showDetails">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
