<ng-template [ngIf]="selectedElement">
  <ng-template [ngIf]="selectedElement.exclusions?.length > 0">
        <h4>{{'LBL_EXCLUSIONS' | translate}}</h4>
        <ul>
            <li *ngFor="let exclusion of selectedElement.exclusions" [innerHTML]="exclusion | convertCode"></li>
        </ul>
  </ng-template>
  <ng-template [ngIf]="selectedElement.inclusions?.length > 0">
        <h4>{{'LBL_INCLUSIONS' | translate}}</h4>
        <ul>
            <li *ngFor="let inclusion of selectedElement.inclusions" [innerHTML]="inclusion | convertCode"></li>
        </ul>
  </ng-template>
  <ng-template [ngIf]="selectedElement.synonyms?.length > 0">
        <h4>{{'LBL_SYNONYMS' | translate}}</h4>
        <ul>
            <li *ngFor="let synonym of selectedElement.synonyms" [innerHTML]="synonym | convertCode"></li>
        </ul>
  </ng-template>
  <ng-template [ngIf]="selectedElement.note">
    <h4>{{'LBL_NOTE' | translate}}</h4>
    <p [innerHTML]="selectedElement.note | convertCode"></p>
  </ng-template>
  <ng-template [ngIf]="selectedElement.usage">
    <h4>{{'LBL_USAGE' | translate}}</h4>
    <p>{{selectedElement.usage}}</p>
  </ng-template>
  <ng-template [ngIf]="selectedElement.coding_hint">
    <h4>{{'LBL_CODE_NOTE' | translate}}</h4>
    <p>{{selectedElement.coding_hint}}</p>
  </ng-template>
</ng-template>
