<div class="row search">
    <div class="col-xs-12">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Insert text or code..." #searchBox value="{{query}}" (keyup.enter)="search(searchBox.value)">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" (click)="search(searchBox.value);">Go!</button>
            </span>
        </div><!-- /input-group -->
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

        <div class="btn-group" dropdown *ngFor="let cat of catalogs">
            <button type="button" class="catalog btn btn-default" [ngClass]="{'active': cat.catalog.name.toLowerCase() === catalog}" (click)="updateCatalog(cat.catalog, cat.catalog.activeVersion)">{{cat.name}}</button>
            <button type="button" class="version btn btn-default dropdown-toggle-split" dropdownToggle>
                <span>{{cat.catalog.activeVersion }}</span>
                <span class="caret"></span>
                <span class="sr-only">{{catalog.currentVersion}}</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" dropdownMenu role="menu" aria-labelledby="split-button">
                <li *ngFor="let version of cat.catalog.versions "
                    [ngClass]="{'active': cat.catalog.activeVersion === version}" role="menuitem"
                    (click)="updateCatalog(cat.catalog, version)">
                  <a class="dropdown-item" href="javascript:void(0)">{{version}}</a>
                </li>
            </ul>

        </div>

    </div>
</div>

<hr />
<results>Bitte etwas in das Suchfeld eingeben!</results>
